[2016-09-15 14:49] walac opened #18 "Add slugid command"
A slugid is an [uuid](https://en.wikipedia.org/wiki/Universally_unique_identifier) used to uniquely identify tasks. The goal here is to make [slugid-go](https://github.com/taskcluster/slugid-go) interface into a `taskcluster-cli` command:

[code]

[2016-09-15 15:08] walac opened #19 "Add version command"
In summary, this will add `taskcluster version` command. It can be just a template with a fake command version until we decide how we store and update the version.

[2016-09-15 17:09] walac opened #20 "Redirect error messages to stderr"
Currently, all errors message go to `os.Stdout`. We should use `fmt.Fprintf` to redirect them to `os.Stderr`.

[2016-09-15 20:44] walac opened #21 "Add test case for the credentials module"
Taskcluster uses [Hawk]() for authentication under the hood. The [credentials module]() provides an interface for taskcluster authentication. Unfortunately, it doesn't have any unit test case. Implementing a test case for follows these steps:

* Create a `Credentials` object with `ClientID = tester` and `AccessToken = no-secret`
* Create a request to [testAuthenticate](https://docs.taskcluster.net

[2016-09-15 21:18] walac opened #22 "Implement command to download an artifact"
An artifact is a result of of task. It can be a binary file, a test report, a log, etc. We need to implement a command to download an artifact:

[code]

When `<runId>` is omitted, it should download artifacts from latest `runId`.
- Automatic retries
- [Exponential backoff](https://en.wikipedia.org/wiki/Exponential_backoff)
- Check content-length
- Follow redirects
- Enforce HTTPS
- Stream result t

[2016-09-15 21:23] walac opened #23 "Add a command to get task status"
Summary:

[code]

[2016-09-15 21:34] jonasfj commented on #23
This has to be similar to inspect-task

--
Regards Jonas Finnemann Jensen.

2016-09-15 14:23 GMT-07:00 Wander Lairson Costa <notifications@github.com>:

[2016-09-15 21:34] walac opened #24 "Add from-now cli command"
[code]
- [Background](https://github.com/taskcluster/taskcluster-client#relative-date-time-utilities)
- [Reference implementation](https://github.com/taskcluster/taskcluster-client/blob/master/lib/utils.js#L15)

Example:

[code]

[2016-09-16 07:27] petemoore commented on #22
See [example usage of queue.GetArtifact_SignedURL](https://sourcegraph.com/github.com/taskcluster/taskcluster-client-go/-/info/GoPackage/github.com/taskcluster/taskcluster-client-go/queue/-/Queue/GetArtifact_SignedURL). You'll need to first retrieve a signed url (also works with public artifacts) and then download from there. Consider using [httpbackoff](https://github.com/taskcluster/httpbackoff)

[2016-09-16 08:12] walac commented on #23
I think it is better to split `inspect-task` into several `task` subcommands. It is easier for shell applications process the output.

[2016-09-16 08:27] walac commented on #22
Also see [got package](https://github.com/taskcluster/go-got)

[2016-09-16 18:14] alessbn commented on #24
Hi! Can anyone assign me this bug?

[2016-09-16 20:08] walac commented on #24
@jonasfj Can you assign @alessbn to this bug? I can't. Not sure if it because I don't have powers or github doesn't allow.

@alessbn consider yourself assigned to this bug, anyway.

[2016-09-16 20:13] jonasfj commented on #24
@walac, you can't assign people who aren't member of the organization.
Feel free to create a team for `taskcluster-cli-contributors` or something, and add this repo.

[2016-09-17 13:16] nanjekyejoannah commented on #21
Hello ...

Kindly assign me this issue..thanks

[2016-09-18 10:04] ApheleiaS commented on #20
Hello,
Please assign me to this bug. I am interested in participating in outreachy this round.
Thanks.

[2016-09-18 15:31] iamneha commented on #20
@ApheleiaS I almost solved this bug I would like to request you to please ask for another bug and I am sorry that I forgot to ask mentor to assign this to me.

@walac can you assign me this bug

[2016-09-18 16:15] walac commented on #21
@nanjekyejoannah I sent you an invitation to taskcluster-cli-contributors team, once you accept the invite, I assign you to the bug

[2016-09-18 18:15] alexandrasp commented on #22
Hey @walac and @petemoore, can you assign me this bug? :)

[2016-09-18 18:31] nikinath commented on #19
@walac Hello, I am an outreachy participant and would like to work on this bug. Can you please assign it to me?
Thank you.

[2016-09-18 19:56] ApheleiaS commented on #18
Hello,
Can you please assign me to this bug?
Thanks :)

[2016-09-18 19:59] ApheleiaS commented on #20
@iamneha  I solved this bug quite a bit as well. So I am not sure.  Anyhow you should make your PR if you are done. That way we can learn from each others code and devs can merge the one which looks better :)

[2016-09-18 21:10] walac commented on #20
@iamneha sorry, but @ApheleiaS requested bug assignment first. We are working this week to get more good-first-bugs, as the number of applicants is way beyond our expectations.

[2016-09-18 21:11] walac commented on #18
It is yours, please accept team member invitation to make the assignment.

[2016-09-18 23:51] iamneha commented on #22
assign me this bug

[2016-09-19 00:08] iamneha commented on #23
assign me this bug

[2016-09-19 08:10] walac commented on #18
Update: sorry, but you are already assigned to bug #20, once you are done there, you can pick this.

[2016-09-19 08:42] walac opened #25 "Integrate with Travis-CI"
[Travis](https://travis-ci.org/) is a Continuous Integration system aimed for small and medium size projects. `taskcluster-ci` doesn't run any tests or linter on pushes and  pull request, which is sad. We would like to use travis to run:
1. `go test -v -race`
2. `go fmt -s -w` and then check if we have uncommited changes
3 `gometalinter --disable-all --enable=gotype --enable=golint --enable=deadco

[2016-09-19 22:26] walac commented on #23
@iamneha This bug is already yours, no worries, but I need you accept github team invitation I sent to you

[2016-09-20 17:54] somya-anand commented on #25
Hi,
Can you assign me this bug? Thanks

[2016-09-20 19:24] jonasfj opened #28 "Add CLI command to upload/download to/from S3"
Using `auth.awsS3Credentials` takes taskcluster credentials and returns temporary STS credentials for S3.
It would be cool if we had a command like `taskcluster s3 copy ./myfile.txt s3://<bucket>/<prefix>`
that could get temp creds from auth and use those to upload a file to S3.
Obivously, it would have to do retries with exponential back-off, ideally also multi-part upload for large files.
Detect

[2016-09-20 19:27] jonasfj opened #29 "`taskcluster status` command to list status from all services"
All or most of our API services have a `status` end-point...

Based on JSON from: https://github.com/taskcluster/taskcluster-cli/tree/master/apis/definitions

We should write a command that uses this JSON to for each service print:

[code]

By calling the status endpoint to verify that the services are up and running.

[2016-09-20 19:36] owlishDeveloper commented on #29
Hi! May I grab this bug? Thanks!

[2016-09-21 20:54] nikinath commented on #28
I'd like to work on this bug. Can I please get assigned?
Thank you!

[2016-09-22 21:47] ibrahimelbanna commented on #25
Hi ,
Can you assign me this bug ?

[2016-09-23 12:08] walac commented on #25
@ibrahimelbanna sorry, @somya-anand took it already, would you be interested on working on #18?

[2016-09-23 19:07] ibrahimelbanna commented on #25
Yes I am interested on working on this bug  @walac

[2016-09-23 19:22] #19 closed

[2016-09-23 19:25] jonasfj opened #30 "Add scope-check command"
In taskcluster we use scopes for authorization, see:
https://docs.taskcluster.net/presentations/scopes/
(formal definition and examples)

It would nice if we had a command like:

[code]

Which will then determine if scopes `scopeA, scopeB, ...` satisfies `scopeC, scopeD, ...`, the argument `satisfies` would be a keyword in this command.

**Example:s**

[code]

Maybe the output messages could be fo

[2016-09-23 19:29] jonasfj opened #31 "Add expand-scopes command"
In taskcluster we use scopes for authorization, see:
https://docs.taskcluster.net/presentations/scopes/
(formal definition and examples)

The taskcluster-auth service maintains roles... a role is effectively just a mapping from a scope on the form `assume:...` to a set of scopes that the role grants.

Example:
`assume:project:taskcluster:tutorial` grants scopes listed here:
https://tools.taskclust

[2016-09-23 19:37] jonasfj opened #32 "Add `taskcluster completion` command dumping auto-complete script for bash"
I'm not 100% sure how to do this.. There is probably some docs to read :)

But it is possible to do auto-completion for a custom command, I suspect that we can auto-generate such auto-completion logic from the docopt strings and generate a command that can install the auto-complete script in `/etc/bash_completion.d/taskcluster` that would be pretty cool.

[2016-09-23 19:39] jonasfj commented on #32
See:
https://www.gnu.org/software/bash/manual/html_node/Programmable-Completion.html
https://github.com/scop/bash-completion

I didn't read these sources, but they would definitely be needed to do something like this.
And initial hack here might just be auto-complete the sub-commands.

[2016-09-27 12:36] walac commented on #29
Example: https://queue.taskcluster.net/v1/ping is an endpoint to check status of the queue service. This bug consists of creating a new `CommandProvider` status, that will use this endpoint on taskcluster services to retrieve the statuses.

Command summary:

[code]

You can look at a sample implementation [here](https://github.com/taskcluster/taskcluster-tools/blob/master/status/status.jsx)

[2016-09-30 19:37] jonasfj commented on #29
I suggest:
[code]

Default to all serivces if none are specified.

[2016-10-04 06:55] nanjekyejoannah commented on #30
Hi team

Kindly assign me to this issue..thanks

[2016-10-05 09:43] #21 closed

[2016-10-08 01:11] nikinath commented on #31
According to the getting started link: https://public.etherpad-mozilla.org/p/taskcluster-cli-applicants-getting-started, we can be assigned to a new bug if we open a PR for the one we are currently working on.

Is it okay if I am assigned to this bug? I will continue working on #33 too.

[2016-10-09 11:25] nanjekyejoannah commented on #31
Hello nikinath

I had solved this and was thinking of opening a PR for two since issue #30 is related to this issue because it involves expanding scopes but if you still want to continue working on it . I have no problem since I hadnt notified that am working on it.

[2016-10-09 19:56] nikinath commented on #31
@nanjekyejoannah I have already solved this issue and thus I'd like to send in a PR. I hope that's okay! :)
Sorry for the trouble!

[2017-01-04 22:03] djmitche opened #41 "api commands don't work, create spurious files"
[code]

So it has panicked after creating `-`.

[2017-01-04 23:16] djmitche commented on #41
[code]
preceded by a bunch of boring futex() and clock_gettime() calls.

Tracing with gdb shows it failing (well, gdb loses track of what's next and the program runs to completion without stopping or error message, but a 1 exit status) at 143:
[code]

[2017-01-04 23:19] djmitche commented on #41
That last bit is a false alarm -- adding prints shows control proceeding beyond that point, so it must just be bad DWARF data leading gdb to put its breakpoints in the wrong places.

[2017-01-05 00:03] djmitche commented on #41
Ah, the `-` thing is #43.  With that solved:

[code]

[2017-01-05 00:14] djmitche opened #44 "Add -v / --verbose"
This option should interface with the standard `log` library.  If the option is not given, the logs should be directed to a null output.  If the option is given, direct that output to stderr.

[2017-01-05 00:25] djmitche commented on #41
Ahh! This is `net/http`'s sudden failure to handle lower-case method names.

[2017-01-05 00:41] djmitche opened #45 "API subcommands only ever run the last method"
[code]
in the absence of a `break` statement, the last value of `e` is always the last entry in the API, and `entry` is pointing to it.

[2017-01-05 14:31] djmitche opened #47 "Run tests using taskcluster-github"
We have a basic `.travis.yml` set up in #46, but we should be using taskcluster via taskcluster-github instead of travis.  And doing releases (binary builds) when we push a new tag.

[2017-01-05 14:35] djmitche opened #48 "Automatically export documentation for taskcluster-docs on release"
We have `taskcluster-lib-docs` for JS services, which can upload a tarball containing documentation.  Let's build a similar thing for Go (but omitting the API references and exchanges, since we don't implement TaskCluster HTTP APIs in Go), so that we can upload documentation about all of the tc-cli options to taskcluster-docs, too.

[2017-01-11 22:15] djmitche commented on #28
I don't think we should implement this feature.  We currently have to manually whitelist all s3 buckets to which auth can grant access, which severely limits the utility of a feature like this.

[2017-01-11 22:15] #28 closed

[2017-01-11 22:15] djmitche commented on #18
@petemoore points out this already exists in the https://github.com/taskcluster/pulse-go project

[2017-01-11 22:18] djmitche commented on #25
I set up a very simple `.travis.yml`, which should be sufficient.  We should aim to test this tool with TaskCluster itself.

[2017-01-11 22:18] #25 closed

[2017-01-11 22:24] djmitche commented on #23
I'd like to see a number of `task` sub-subcommands:

[code]
with room to add more easily.

[2017-01-11 22:26] djmitche commented on #24
This would be useful in generating new task definitions:
[code]

[2017-01-11 22:28] djmitche commented on #18
Although now that I see #24, this makes sense, too:
[code]

[2017-01-11 22:29] djmitche commented on #29
I don't think this is a really useful tool -- it's easy enough to curl that endpoint if you really want to know, and otherwise users will look at the status page for that information.

[2017-01-11 22:29] #29 closed

[2017-01-11 22:30] djmitche commented on #30
Scope checking is a security-sensitive operation.

As such, it shouldn't be done in shell!

So, I don't think we should add this feature.

[2017-01-11 22:30] #30 closed

[2017-01-11 22:31] djmitche commented on #31
There is already an API call for this (`taskcluster auth expandScopes`), so I don't think we need a distinct command.

[2017-01-11 22:31] #31 closed

[2017-01-11 22:34] djmitche commented on #47
This should also include (see #25)
 * code coverage analysis
 * go fmt
 * go test -v race
 * shell tests (actually running `./taskcluster` and making sure it behaves correctly)

[2017-01-11 22:35] djmitche opened #49 "Build releases using taskcluster-github"
When we create a new Github release of taskcluster-cli, tc-github should automatically build and upload binaries for the various platforms we support, and make them available for users.

[2017-01-11 22:36] djmitche opened #50 "Vendor all dependencies"
Rather than relying on the GOPATH for all dependencies, we should bundle the supported versions of those dependencies with taskcluster-cli.  And provide a nice way to update and test those dependencies.

[2017-01-11 22:37] djmitche opened #51 "Tail the log of a running task"
[code]
should output the logs for the given taskId as they are generated, and exit when the task completes.

[2017-01-11 22:39] djmitche opened #52 "Move API interaction commands under an `api` subcommand"
The help currently looks like this:
[code]
and that makes it hard to spot the few options that aren't about a service.  I'd prefer
[code]

[2017-01-11 22:40] djmitche opened #53 "Better support for users with `taskcluster signin`"
[code]
..and it hangs there.  What do I do?  Some better documentation for the user would be helpful :)

[2017-01-11 22:41] djmitche commented on #53
Also, documenting where the results of that signin are stored would be good!

[2017-01-11 22:43] djmitche opened #54 "Connect user's shell to a one-click-loaner"
We have a fancy one-click-loaner option that is accessible via https://tools.taskcluster.net, but the terminal emulation is TERRIBLE and you can't copy/paste or do any of the normal terminal things.

Much better would be to connect my existing terminal to a one-click loaner:

[code]

This should support both websocket protocols
* https://github.com/taskcluster/docker-exec-websocket-server
* https:

[2017-01-11 22:46] djmitche opened #55 "Better help output for API commands"
[code]
currently shows the description of the auth API (the top of https://docs.taskcluster.net/reference/platform/auth/references/api)  However,
[code]
does not show the listClients description.  It should!  It should also show the payload and response schemas.

[2017-01-11 22:48] djmitche opened #56 "Command to wait for a task to complete"
It's quite possible that users will write scripts that start a task, then wait for it to complete.  Something like:
[code]

[2017-01-11 22:50] djmitche opened #57 "Support uploading files to and downloading files from a loaner"
This would be an extension of #54 to also support transferring files to/from the loaner.

There is no `scp` or anything like that on the loaner, so this will require figuring out how to handle this on the loaner side.  Maybe Perhaps use: https://github.com/taskcluster/file-browser-go (author is planning to have included in docker-worker, and writing a JS API for using it)

[2017-01-11 22:54] djmitche opened #58 "Automatic updates"
It would be nice for users to always have the latest and greatest taskcluster client.  We could do this a few ways:

1. Build apt, yum, and homebrew repositories and automatically upload releases to them, so users can update the "normal" way
2. Only update the API definitions, caching them in ~/.taskcluster.  Then `taskcluster api` would always be up-to-date, but the other subcommands would only g

[2017-01-11 22:55] djmitche opened #59 "Better test coverage"
It's not glamorous, but most of taskcluster-cli is currently un-tested, and we need to fix that.  So we need to write tests for all (or at least most) of the existing code!

This will probably involve refactoring some of that code to make it more testable, in a go-friendly way.

[2017-01-12 09:55] petemoore commented on #18
It actually exists here:
https://github.com/taskcluster/slugid-go#command-line-usage

I tend to think we don't need anything here, and we can close this issue.
@djmitche ok with you?

[2017-01-12 10:11] petemoore commented on #22
I think it makes more sense for this to be a standalone tool, it could be needed by tasks, and I think it does not make sense for tasks to have to install the CLI, which is a dev tool, as I see it (for example, a task environment should not need a tool which allows you to open a VNC connection to the task environment via VNC).

Let's at least keep a separation between tools that serve developers,

[2017-01-12 10:11] petemoore commented on #22
Also note, jhford is already working on a standalone tool for uploading/downloading artifacts.

[2017-01-12 14:18] djmitche commented on #18
Oops, yes, I copied the wrong URL.

I think this would fit well into the formulation above for creating a new task from a shell script.  Installing a separate binary just to generate a slugid goes against the everything-in-one-package approach for taskcluster-cli.  And this is going to be a very simple plugin!

[2017-01-12 15:18] djmitche commented on #22
Indeed, this functionality will be a part of https://groups.google.com/forum/#!topic/mozilla.tools.taskcluster/5ISrXVJUl1s

[2017-01-12 15:18] #22 closed

[2017-01-12 15:30] djmitche opened #61 "Make sure `taskcluster signin` is easy to use with other libraries"
The [Python](https://github.com/taskcluster/taskcluster-client.py), [Node](https://github.com/taskcluster/taskcluster-client), and [Go](https://github.com/taskcluster/taskcluster-client-go) TaskCluster clients have certain conventions for getting credentials.  In theory they are all the same conventions, but that should be verified.

Then, those conventions should be written down in [the docs](htt

[2017-01-12 17:10] djmitche opened #62 "Document common use cases"
Users will want to know the best way to do some common things with this tool:

 * install it
 * create a task, wait for it to finish while tailing its logs, and then download an artifact from it
 * connect interactively to a one-click loaner
 * .. other stuff implemented this semester

Some really clear, well-thought-out documentation guiding them through this process would be great, especially if

[2017-01-12 22:56] djmitche opened #63 "Support communicating with taskcluster-proxy if running inside a task"
We have this [neat thing](https://docs.taskcluster.net/reference/workers/docker-worker/features) where, if running in a task, you can connect to e.g., `http://taskcluster/queue/v1/task/<taskId>`  This request is proxied to the queue (in this case) with credentials matching the task's scopes attached.

taskcluster-cli should support using this proxy when available.

An open question is, how to tell

[2017-01-12 23:18] jonasfj commented on #58
3. Would also be possible without the service, using: https://github.com/inconshreveable/go-update
We would simply build and sign the updates from a taskcluster-github command, then have that task indexed under a stable namespace which can then be used for find the latest update.

This would actually be fairly simple.

[2017-01-12 23:19] jonasfj commented on #57
other options is to rely on busybox being present in a predefined location, docker-worker does that... ask me for details..

[2017-01-12 23:20] jonasfj commented on #55
Interface should work for both `taskcluster auth help listClients` and `taskcluster auth listClients --help`

[2017-01-12 23:23] jonasfj commented on #54
taskcluster-worker already has a shell command implemented here:
https://github.com/taskcluster/taskcluster-worker/tree/master/commands/shell

That sets up the shell to work in raw mode, and tears it down when disconnecting.
Granted it might still have some edge cases around cleanup if disconnected incorrectly or so, I don't remember.

Obviously the shellclient can be reused from taskcluster-worke

[2017-01-12 23:23] jonasfj commented on #52
Lol, you forgot secrets :)

[2017-01-12 23:25] jonasfj commented on #48
Please consider making this a golang library, so we can reuse it for uploading docs from taskcluster-worker too...

This would effectively be uploading the docs/ folder, and possibly some code to generate docs for it too..

[2017-01-12 23:27] djmitche commented on #52
ssshhh, it's secret!

[2017-01-20 17:12] t0xicCode commented on #50
[govendor](https://github.com/kardianos/govendor)?

[2017-01-20 17:47] lteigrob opened #64 "Tab completion"
Users will want to be able to hit tab to complete a command, or to see a list of command options if there is more than one available.

[2017-01-20 17:58] t0xicCode commented on #50
Seems like the existing team knowledge is with godep: https://github.com/taskcluster/taskcluster-worker#freezing-dependencies

[2017-01-20 18:21] yannlandry commented on #20
Started working on this issue. Seems like it's gonna be a tedious task of search and replace - wish me luck.

[2017-01-20 18:22] lteigrob commented on #64
Bash completion tutorial I'll look through:
https://debian-administration.org/article/316/An_introduction_to_bash_completion_part_1
-For a generic OS, adding to this functionality can be done with an extra file /etc/bash_completion.d... How to add to the ./taskcluster commands in a similar way?

[2017-01-20 18:28] t0xicCode opened #66 "Automatically update the API definitions"
The service definitions are fetched from the schema server and turned into go code through `go generate` .

Currently this is a manual process, with the results checked in when we remember to do so. We have a few ideas regarding how to make this better.

The first idea is to have a scheduled task in taskcluster to run `go generate` and generate a PR if there are changes.

The other option is to ru

[2017-01-20 18:32] djmitche commented on #64
Some notes from @jonasfj:

Parse the docopt strings and generate script for bash completion
* Command to (un/re)install bash completion
* Completion script should call “eval `taskcluster bash-completion`” to ensure there is no need to reinstall when taskcluster-cli is auto updated.
* (taskcluster bash-completion should NOT trigger auto-update, or at-least not block on auto-update)
* Perhaps make s

[2017-01-20 18:39] djmitche opened #67 "Format the API references readably"
Right now the generated API references are a single very long line.

Let's find a way to make that readable, so that diffs make sense ("oh, this API method was added").

[2017-01-20 19:59] lteigrob commented on #64
Right now working on just getting a useful tab completion on my own computer, before figuring out where in the actual taskcluster setup this might be incorporated.

Using a template, I've created my own tab completion. Obviously the word "taskcluster" can replace "foo" and I could put in to "opts" our help topics, so it can fake usefulness. Right now this doesn't work as we'd like for the actual e

[2017-01-20 20:38] djmitche opened #68 "Find a way to get metadata about command-line options"
For command-line completion (#64), we need information on the available command-line options.

Docopt, as-written, doesn't support that: its `Parse` method just interprets the usage strings, then returns the result of parsing the command line.  It doesn't give any information from its interpretation of the usage strings.

Options:
 1. Fork docopt to return that information (if this isn't too hard)

[2017-01-20 23:42] yannlandry commented on #18
On it, replacing `from-uuid` to `encode` and `to-uuid` to `decode`.

[2017-01-21 16:33] t0xicCode opened #72 "Issue with credentials"
Doing the `signin` subcommand works fine and generates the configuration file in `.config/taskcluster.yml`.

However, running any api command after that fails with the following error message:

[code]

[2017-01-21 17:37] lteigrob commented on #64
Setting this aside for now, but for future reference: Point 1 above doesn't seem to be a problem with the way the compgen command works. The method in the tutorial can be made to work, with a list (the help list) that can be pulled from the names slice in main.go. Maybe subcommands can be extracted similarly, but I haven't found that yet. This would be the easiest solution. Harder solution: Using

[2017-01-21 18:35] #72 closed

[2017-01-21 21:00] #20 closed

[2017-01-21 21:22] yannlandry opened #76 "Enable the implementation of subcommands"
As of now, when we need to add a command, we create an implementation of the `CommandProvider` interface, and register it. We have already added a few commands using this:

- `taskcluster help`
- `taskcluster from-now [...]`
- and others

However, there are commands that have their own subcommands. `taskcluster api [...]` is an example of this. Another example:

- `taskcluster slugid v4`
- `taskcl

[2017-01-21 21:50] t0xicCode opened #78 "API commands don't work"
Any command that uses the auto-generated API commands does not work because the `ext` parameter of the hawk `Authorization` header is not base64 encoded.

[2017-01-21 23:01] AyubMohamed commented on #55
I think the enabling of subcommands would fix this issue. See https://github.com/taskcluster/taskcluster-cli/issues/76

[2017-01-21 23:21] t0xicCode commented on #23
@djmitche What is the goal of the artifacts command?

[2017-01-21 23:22] yannlandry commented on #76
As of now, I'm on it. I'll need to figure out more than a few things but once we're there we should be able to register commands in the form of a tree.

[2017-01-21 23:34] djmitche commented on #23
I'm not sure what I meant there.. ignore that one!

[2017-01-21 23:53] jonasfj commented on #23
Probably list artifacts of the latest run would be useful...
(Possibly with an optional positional parameter run-id, so as to specify a runId other than the latest...

[2017-01-21 23:59] jonasfj commented on #64
So maybe docopt isn't the best way for plugins to specify how they take input... It also doesn't make it easy to know about subcommands...

Perhaps we should use a structured format instead, the generate the usage string from that format...

[2017-01-22 16:45] #24 closed

[2017-01-22 16:51] yannlandry commented on #76
Okay, I've spent a good deal of time thinking and reading up on other issues [...] and it seems the best solution would be to design a custom parser for our needs.

Here is the idea I came up with. Assume the following command/subcommand structure:

       taskcluster
       |         |
    help     +---slugid------+
            /    |    |       \
          v4  encode  decode  nice

The new parse

[2017-01-22 17:16] t0xicCode commented on #23
@jonasfj The related API calls (https://docs.taskcluster.net/reference/platform/queue/references/api#listLatestArtifacts and https://docs.taskcluster.net/reference/platform/queue/references/api#listArtifacts) are listed as experimental. Are they stabilizing soon or still very fluid?

[2017-01-22 18:27] yannlandry commented on #76
Currently trying out github.com/alecthomas/kingpin as @t0xicCode suggested to see if it would work for us.

[2017-01-22 19:07] djmitche commented on #23
We use "experimental" for far more stable things than most groups.  Those endpoints aren't "fluid", but we haven't quite promised that we'll keep them the same forever and ever.  If we change them, we'll examine the need for backward compatibility and take appropriate action.

[2017-01-22 22:15] t0xicCode commented on #23
@jonasfj @djmitche For the artifacts call, what do we want to output? A list of URLs?

[2017-01-22 22:53] jonasfj commented on #23
A list of names of you ask me...Or list of URLs...
I suspect names is easiest as you can pass that to the download command....
Note: people can always use the direct API to do fancier things...

Den 22. jan. 2017 2.15 PM skrev "Xavier L." <notifications@github.com>:

[2017-01-23 20:07] yannlandry commented on #76
Going custom. Built a command-definition system yesterday, and soon we'll have a parser/framework to go with that. See it in branch _subcommands_.

[2017-01-23 20:25] #18 closed

[2017-01-24 00:18] t0xicCode opened #81 "Replace javascript taskcluster-cli (Allow task creation, scheduling, tailing)"
A previous attempt at a command line client in javascript exists (see [gregarndt/taskcluster-cli](https://github.com/gregarndt/taskcluster-cli)).

This client should be able to replace that javascript implementation.

* `taskcluster task create` to replace `taskcluster run`: creates and schedules a task
* `taskcluster task run` to replace `taskcluster run-task`: creates, schedules, and watches a t

[2017-01-24 00:29] t0xicCode commented on #56
This should be covered by #81, but a dedicated command to await completion or exception could be useful.

[2017-01-24 05:23] yannlandry commented on #76
_Today's update:_

Added/fixed/changed a few things, and moved the code to a new package named `commander`.

[2017-01-25 17:08] djmitche commented on #81
Good find!  Yes, the first two represent good functionality.

`run-graph` refers to the [task-graph scheduler](https://github.com/taskcluster/task-graph-scheduler), which is deprecated -- instead, graphs are now constructed task-by-task, with the dependencies included in the task definition.  So I don't think there's much need to reproduce that functionality.

[2017-01-25 22:28] djmitche commented on #32
Ah, same bug as #64

[2017-01-25 22:28] #32 closed

[2017-01-26 15:55] t0xicCode commented on #81
Sounds good. I'll remove it.

[2017-01-26 21:55] t0xicCode commented on #50
@petemoore The reasons I wanted to go with _govendor_ are that it
1) does not copy the go files of the dependencies into the repository for git to track, instead only requires the `vendor/vendor.json` to be tracked (which does open us to a left-pad issue, but it's rather infrequent, and only when setting up the development environment),
2) does not need to copy files from the `$GOPATH` into `vendo

[2017-01-26 22:05] t0xicCode commented on #76
https://github.com/spf13/cobra?

[2017-01-26 22:18] yannlandry commented on #76
Didn't see this one while looking for possible packages to use... some features look similar, interestingly. I didn't look into it too much, however at this point I've got pretty much everything down, including the parser.

[2017-01-27 00:15] t0xicCode commented on #76
While I don't want you to lose all the work you did, would it make sense to still try the library? If we can use an external library that we don't have to maintain and support, that'd leave more time for use to work on the specific features of the tool.

And cobra has bash completion "for free" as well 😄

[2017-01-27 04:15] t0xicCode commented on #51
Should this be listed under `taskcluster task tail <taskId>` instead? To group all actions related to _tasks_ together?

[2017-01-27 08:05] petemoore commented on #50
@t0xicCode Sure, let's give it a whirl - sounds good to me. We can always change later if we're unhappy.

[2017-01-27 11:51] petemoore opened #83 "Sign requests using NewRequestAuth and sign URLs using NewURLAuth instead of using NewURLAuth for both"
@jonasfj

[This](https://github.com/taskcluster/taskcluster-cli/blob/7f91f2b09154aa2dbc7fe0810af702c23c8408f2/client/credentials.go#L102) can't work because [here](https://github.com/taskcluster/taskcluster-cli/blob/7f91f2b09154aa2dbc7fe0810af702c23c8408f2/client/credentials.go#L62) we are generating URL auth, and [URL Auth doesn't set a nonce](https://github.com/tent/hawk-go/blob/d3073d048f26babf

[2017-01-30 18:12] djmitche commented on #76
My notes from the meeting on Friday indicate we decided:
 * spend a week working to use Cobra
 * we may be able to move to the new system subcommand-by-subcommand.  @yannlandry will work on a transition plan

[2017-01-30 18:13] djmitche commented on #51
Yes, but let's not worry about that until the subcommand support is in place.  It should be relatively easy to move it at that point.

[2017-01-30 18:26] djmitche commented on #83
Just to clarify since I'm not sure I understand:  This is an issue with `Credentials.SignHeader` which is ued by `Credentials.SignRequest`.  So this would affect any authenticated API call!  #78 shows that those have not historically worked.  Perhaps even with that landed, they still do not work?

This would be a good one to fix -- and to add a test for!

[2017-01-30 21:14] lteigrob opened #84 "Lose the timestamp warning in Task Creator after "Update Timestamps" is clicked"
Get rid of the timestamp error that shows up in Task Creator for an out-of-date task, once the timestamps have been updated. The warning remains even though the task is valid to be re-run.

[2017-01-30 22:35] jonasfj commented on #83
Yeah, I don't think these have worked... Some of the existing code is more like pseudo code :)

[2017-01-30 22:41] djmitche commented on #83
Can you provide a way to reproduce this issue?

[2017-01-30 22:48] jonasfj commented on #83
I suspect trying to use it will reproduce the error...
The signurl stuff was added because that's how we download artifacts...

Den 30. jan. 2017 2.41 PM skrev "Dustin J. Mitchell" <
notifications@github.com>:

Can you provide a way to reproduce this issue?

—
You are receiving this because you were assigned.

Reply to this email directly, view it on GitHub
<https://github.com/taskcluster/taskclus

[2017-01-30 22:56] jonasfj commented on #83
I think this bug sums up to: auth stuff in tc-cli is likely broken.
Use existing code as pseudo code for a new implementation, and read the docs on how authentication works.

Note: node hawk library is the reference implementation for hawk, our docs adds a few extra concepts.

[2017-01-30 22:58] djmitche commented on #83
[code]
works for me, so I think that basic authentication stuff is OK, now that #78 is complete.  So perhaps it's just signed URLs that don't work.

@petemoore can you provide a little more context here?  Maybe there's just some dead code we can eliminate?

[2017-01-30 22:59] djmitche commented on #83
It's worth noting that we should be using taskcluster/taskcluster-client-go to generate signed URLs, not doing so internally..

[2017-01-30 23:01] jonasfj commented on #83
using taskcluster/taskcluster-client-go isn't easy because it's so heavily typed... So you can't do that when operating on reference JSON files... Ie. when dynamically interpreting arguments based on the contents of a reference file.

[2017-01-30 23:03] jonasfj commented on #83
@djmitche, so if yes, downloading an artifact we can use taskcluster/taskcluster-client-go.

But if we're adding a command option like `--sign-url` that would work like: `taskcluster api queue --sign-url task <taskId>`
and return a signed url, we can't use the golang client, as it's heavily typed.

[2017-01-30 23:09] djmitche commented on #83
Right, OK.  So there are two issues here:
 * API methods have no way to generate a signed URL for an operation, rather than executing it (no `--sign-url` option)
 * If that option existed, it wouldn't work because of the bug @petemoore has identified.

So I'm going to change the title of this issue here so that we both add that new feature, and convince it to work properly.

The expectation is tha

[2017-01-31 08:35] petemoore commented on #83
Hey guys, I'm back! :-)

So the issue I was raising here is that hawk provides two different auth "profiles" for signing HTTP requests - one for signing the URL, which rewrites the URL path (i.e. bewits) and one for signing a request (leaving URL path intact, but setting an Authorization HTTP header). The main difference is that the auth "profile" used for bewits does not provide replay protection

[2017-01-31 09:16] petemoore commented on #83
So  .... I went to make the PR - and realised this was already implemented an alternative way in 62574d8dc4cd234d6182e13b8cb3e6fad594e392 - whoops! So this is probably solved. What threw me is that rather than us calling `NewRequestAuth` and `NewURLAuth`, we still exclusively call `NewURLAuth`, but then effectively apply-the-diff ourselves by manipulating the returned Auth object [here](https://gi

[2017-01-31 09:16] #83 closed

[2017-01-31 14:21] djmitche opened #85 "Create a `taskcluster status` command"
This command would call (maybe in parallel?) the `ping` endpoint for every service that has one, printing an "OK!" line for each service for which it returns successfully.

Users would find this helpful when something goes wrong and they wonder, as they always do, "is taskcluster down?"  There's also https://status.taskcluster.net that shows about the same data.

[2017-01-31 14:46] djmitche opened #86 "Create a `taskcluster trigger-hook` command"
[code]

What makes this interesting is, I would like an easy way to add parameters to the payload.  For example:
[code]

Currently these parameters are ignored on the server, but that's OK -- we'll get that fixed separately.

[2017-01-31 16:38] jonasfj opened #87 "`taskcluster pulse-listen` command"
Read about pulse here:
https://wiki.mozilla.org/Auto-tools/Projects/Pulse

It would be cool to have a command to inspect pulse exchanges...
[code]
where 'exchange' is a pulse exchange... Then it'll print messages to terminal as JSON or YAML, like:
[code]
Or if `--format json` is specified it could print a JSON blob per line, so that it can be fed into `jq`.

We can store the username/password in t

[2017-01-31 16:42] jonasfj opened #88 "`taskcluster pulse-publish` command"
A command `taskcluster pulse-publish [--format yaml|json] [--message <message>] <exchange> <routingkey>`

That if no `--message` is given opens a prompt that you can enter the message into...
Also it should declare the exchange if it doesn't exist.

Read more about pulse here: https://wiki.mozilla.org/Auto-tools/Projects/Pulse

Similar to #87 we can store the username/password in the config system

[2017-01-31 16:54] djmitche commented on #88
Couldn't this use taskcluster-pulse to get temporary pulse credentials?

[2017-02-01 20:19] jonasfj commented on #88
We can when `taskcluster-pulse` is deployed and configured with real pulse admin credentials...
Last I heard that wasn't the case. From what I understand there is still some details to figure out.

[2017-02-01 22:38] djmitche commented on #54
We have at least one user interested in this!

https://bugzilla.mozilla.org/show_bug.cgi?id=1335874

[2017-02-02 15:26] djmitche commented on #47
A .taskcluster.yml landed in #89.  I'd suggest breaking the rest of the items in the comment above out into separate issues, then closing this one.

[2017-02-02 18:23] yannlandry commented on #76
Pull request for step 1 online.

See **[the transition plan](https://github.com/taskcluster/taskcluster-cli/wiki/Transition-plan-from-docopt-to-cobra)** for more details.

[2017-02-03 18:05] lteigrob opened #92 "Round out taskclutster-github testing"
Now we have .taskcluster.yml going (see #49), we want to be able to run some of the extra things we had for travis:

- go test -v race
- go fmt -s -w
- gometalinter --disable-all --enable=gotype --enable=golint --enable=deadcode --enable=staticcheck --enable=deadcode --enable=misspell --enable=vet --enable=vetshadow --enable=gosimple --enable=varcheck --enable=aligncheck --enable=errcheck --enable

[2017-02-03 18:06] lteigrob commented on #47
Issue 92 is created to add these things

[2017-02-03 18:46] djmitche commented on #47
That sounds good, yeah.  Even #92 might get broken further down if one of the pieces turns out to be hard.

[2017-02-03 18:54] lteigrob commented on #53
My first thought is:

"Opening tab in browser. If tab does not open automatically please go to https://login.taskcluster.net/" (as a link)

Is that the sort of thing we want there?

[2017-02-03 19:00] djmitche commented on #53
Indeed!  In fact, there are some extra fields after `.net` that are important.

The other bit is, the tool assumes that "localhost" will resolve to the host where you ran `taskcluster`, which isn't necessarily the case.  So we might think of a way to allow the host's full name there, instead (maybe with a `-h <hostname>` option?)

But let's do the first part, that you suggested, first.  The second

[2017-02-03 19:02] lteigrob commented on #53
Deal :)

[2017-02-03 19:09] lteigrob opened #93 "Code coverage"
Add code coverage analysis as part of .taskcluster.yml (see #89, #47)

[2017-02-03 19:14] lteigrob opened #94 "Shell tests"
Perform tests(/write a script) to make sure ./taskcluster is behaving properly (breakout of #47)

[2017-02-03 19:16] lteigrob commented on #47
Okay, thanks

[2017-02-03 19:16] #47 closed

[2017-02-03 20:45] lteigrob commented on #53
I've got a signin_support branch started. What sort of fields do I need?

[2017-02-03 20:51] djmitche commented on #53
It adds target and description [here](https://github.com/taskcluster/taskcluster-cli/blob/3125d2f1b331e87e0e1ecf854a35b5c9b3833165/config/signin.go#L137), so it's that full URL that's required.

[2017-02-03 20:57] lteigrob commented on #53
Ooooh. K, thank you

[2017-02-03 22:41] t0xicCode commented on #52
we can do this right after #76

[2017-02-13 18:27] lteigrob opened #100 "Fix misspells"
We want to enable gometalinter's misspell check in .taskcluster.yml. The warnings we're getting just need to be fixed, and then this can be enabled again.

[2017-02-13 22:24] jonasfj commented on #57
@ckousik, this is an interesting use-case for the file-browser-go, that doesn't involve making UI.
Note: it's blocked by #54 as we don't have a golang implementation of a client for docker-exec-websocket-server.

[2017-02-13 22:34] jonasfj opened #101 "Mount task container file-system w. FUSE"
In #57 we have a plan to implement file-transfer by running [file-browser-go](https://github.com/taskcluster/file-browser-go) and talking to it over stdin/stdout through the websocket protocols implemented in #54.

A cool addition would be the ability to mount the entire root file-system of the task container locally using FUSE. There is a golang library here https://godoc.org/bazil.org/fuse.
I'm

[2017-02-14 17:57] djmitche commented on #100
[code]
The first can be fixed.  The remainder are in `services.go`, which is autogenerated.  I'm not sure we want to be failing automated tests for that, since fixing it involves commits to lots of other repos.  Also, all of the `nto` are actually `..\nto..` which is perfectly legitimate.  Maybe:

[code]

would do the trick?

[2017-02-14 18:12] djmitche commented on #100
There, I filed bugs to fix the (non-`nto`) errors in other services :)

[2017-02-16 15:49] petemoore commented on #100
Nice work guys! Great initiative. :+1:

[2017-02-17 19:26] lteigrob commented on #92
Good progress on this in commit #96. A lot of issues were found and fixed (#98, #100). We also ended up ignoring the autogenerated apis/services.go (#100).

There's a few extra enables still needed besides the main ones:
--enable=varcheck --enable=aligncheck --enable=errcheck --enable=ineffassign --enable=unconvert -enable=goimports --enable=unused
And go fmt is still missing.

Also, @djmitche, ar

[2017-02-17 19:35] djmitche commented on #92
I'm not thrilled about it, but it seems to be a limit of gometalinter, so we'll survive.

Let's hold off adding more checkers for the moment -- I think the incremental value we get from them will be minimal right now, and we'll get a better value by adding more test code.

[2017-02-17 19:44] lteigrob commented on #92
Sounds good, I was thinking those would be back-burner issues but didn't want to forget them either

[2017-02-22 18:10] djmitche commented on #51
This is landed now in #97. There is some follow-on mentioned there that @AyubMohamed will be handling.

[2017-02-22 18:10] #51 closed

[2017-03-01 21:11] lteigrob opened #104 "Round out taskcluster-github testing, continued"
Pulling this out of #92, there's a few things that can be added to taskcluster.yml at some point.

gometalinter things:
--enable=varcheck --enable=aligncheck --enable=errcheck --enable=ineffassign --enable=unconvert -enable=goimports --enable=unused

go fmt

[2017-03-01 21:12] #92 closed

[2017-03-02 20:19] yannlandry opened #105 "What happens if a config option is tied to an evironment variable AND is defined in the config file?"
While going over [config/serialization](https://github.com/taskcluster/taskcluster-cli/blob/install-cobra/config/serialization.go#L34) I realized that there might be issues when some options are defined both as environment variables and as config file values.

I assume that when an option is tied to an environment variable, we will need to edit that environment variable to change the value of that

[2017-03-02 21:08] yannlandry commented on #105
@jonasfj I believe you originally wrote that code, did you have anything in mine for such scenario? Otherwise we'll try to define something.

[2017-03-02 22:10] jonasfj commented on #105
hmm, that's a good question...

I suspect env vars takes precedence over the config file...
I'm thinking in some cases you might call like this:
`AUTH_BASE_URL='....' taskcluster expand-scopes my-scope`

So precedence would be (in order of preference):
 1) Command line option passed
 2) Value from environment variable
 3) Value from config file
 4) Default value (burned into the binary)

Does that

[2017-03-03 00:03] djmitche commented on #105
@lteigrob fyi, I know you've been looking at this code too.  This precedence might be a good thing to test, since changing it unintentionally could surprise users.

[2017-03-03 22:22] t0xicCode commented on #76
Closed by #99.

[2017-03-03 22:22] #76 closed

[2017-03-03 22:33] djmitche commented on #49
I can get this working for linux releases, and then hand off to @t0xicCode to set up other platforms.  Hopefully we can cross-compile for those platforms!

[2017-03-03 23:08] t0xicCode commented on #52
Closed by #99.

[2017-03-03 23:08] #52 closed

[2017-03-03 23:11] t0xicCode commented on #84
@lteigrob is this a tc-cli issue or should it be filled with taskcluster/taskcluster-tools?

[2017-03-03 23:13] t0xicCode commented on #68
Should this be closed by #99?

[2017-03-03 23:16] t0xicCode commented on #56
Covered in #81. Should we close this?

[2017-03-04 00:16] djmitche commented on #84
I opened https://bugzilla.mozilla.org/show_bug.cgi?id=1344409 for it.  Can you fill in steps to reproduce on that bug?

[2017-03-04 00:16] #84 closed

[2017-03-04 00:17] djmitche commented on #68
Yeah, I think #99 represents option 2 :)

[2017-03-04 00:17] #68 closed

[2017-03-04 00:18] djmitche commented on #56
Agreed.

[2017-03-04 00:18] #56 closed

[2017-03-06 15:57] petemoore commented on #85
@djmitche Is anyone working on this already, or would this be a good starter for @yasch007?

[2017-03-07 23:37] yannlandry opened #111 "Test the API subcommands generation and execution"
There was no specific issue for this. I'm currently on it.

See branch [`test-apis`](https://github.com/taskcluster/taskcluster-cli/tree/test-apis) for details and current progress.

[2017-03-07 23:38] yannlandry commented on #59
Doing the API subcommands in issue #111.

[2017-03-08 18:01] #100 closed

[2017-03-10 15:52] t0xicCode opened #117 "Error in `task log` when the public logs don't exist"
When I try to watch or fetch the logs for a task that was just created (pending, unscheduled, or otherwise), I'm getting an ugly error message:

[code]

The task log should catch that error (logs don't exists), and I think that it should first check the status of the task, so that it can display better error messages if the task doesn't exist or the logs haven't been created yet.

[2017-03-10 16:08] gregarndt commented on #117
I definitely like the idea of the error messages being clearer and checking task state.  If the task is currently defined or pending, then the run is not in a state that could have ever produced the log and an error could explain the task has not been run yet. nice suggestion!

[2017-03-13 07:59] petemoore commented on #66
@t0xicCode what will be the mechanism to upgrade installed clients?

For example, if I have taskcluster-cli installed, and a schema is updated, and then a new release is made, how will my client notice that it is out-of-date and upgrade to the latest version?

[2017-03-13 13:10] djmitche commented on #66
@petemoore that's #58.

[2017-03-13 16:19] yannlandry commented on #66
Shouldn't the generated code be fetched and generated a compile-time? Could we embed that into the Makefile, just like we do for vendoring?

We might also want to add a mechanism that skips generation if everything is already up-to-date. Then include **apis/services.go** in the **/.gitignore**.

[2017-03-13 16:25] djmitche commented on #66
I like having two steps, for a few reasons:
* An application's behavior shouldn't change dynamically during development
* Compiling shouldn't require Internet access and functional S3
* APIs are fetched over http, so we need to review the changes before using them to avoid the risk of MITM attacks

[2017-03-13 16:29] djmitche commented on #49
There's no way to upload those artifacts to a github release, which is too bad because that'd be the most convenient!
  https://bugzilla.mozilla.org/show_bug.cgi?id=1344913

[2017-03-13 17:09] djmitche commented on #49
My current plan is this:
 * react to "release" events and build the corresponding tag
 * on release, upload the resulting binary to an S3 bucket with an appropriately versioned name, and also update a "latest" value
 * point to the "latest" URL from the README

After #107, any cross-compilations should be easy to include in this process, if you want to get started on that @t0xicCode

[2017-03-13 17:32] djmitche commented on #49
(The part remaining for me is points 2 and 3)

[2017-03-15 16:20] djmitche opened #120 "Display error.message on failure"
[code]

so I got a 400.. but what's the error message? 😿

The error responses are described [here](https://docs.taskcluster.net/manual/integrations/apis/errors).

[2017-03-15 16:32] djmitche commented on #120
As a follow-on, it may turn out that we're making this API call incorrectly: I'm able to make the same call from JS without a 400 error.

[2017-03-15 18:19] djmitche commented on #49
Working on the second point, I got stuck at #122.

[2017-03-17 15:11] #117 closed

[2017-03-20 10:59] JohanLorenzo opened #126 "New feature: Cancel a subset of a group"
This need came out last Friday, when releng had several releases in flight and all of them were claiming the same workers. One way to solve this issue is to [handle priorities in a different manner](https://bugzilla.mozilla.org/show_bug.cgi?id=1348773). Nonetheless, having a manual way to cancel/rerun a certain type of tasks, would be great to manually help a graph to claim workers.

For example:

[2017-03-20 13:49] djmitche commented on #126
I like this!  @yannlandry do you want to jump on this one?

[2017-03-20 13:52] yannlandry commented on #126
Yep, time to jump on task management!

[2017-03-20 15:34] yannlandry commented on #64
I don't know how far down this is in @lteigrob's list of things to do, but here's a link for whenever this happens:

https://github.com/spf13/cobra/blob/master/bash_completions.md

[2017-03-20 22:18] escapewindow commented on #126
In this workflow, we want `rerun` to only rerun the previously cancelled jobs.

e.g.
- we have task1 and task2, both blocking downstream tasks
- task1 is completed, and downstream tasks have also completed
- task2 is cancelled, and downstream tasks are pending

If we rerun task2, all is as expected: task2 completes for the first time, and downstream tasks are unblocked.

If we rerun task1, complet

[2017-03-21 16:52] lteigrob commented on #64
Yeah definitely! I've been playing around with this. Earlier in the semester I had some bash completion working for little testers. Now I'm just trying to convert their command (in that link) to produce such a bash file for our own stuff.

Am I right in thinking that this:
https://github.com/taskcluster/taskcluster-cli/blob/e0b23844e891bd77a29ad1c83ca298178aba8790/apis/provider.go#L51

is our vers

[2017-03-21 19:20] djmitche commented on #64
To my admittedly untrained eye, yes :)

[2017-03-21 20:42] lteigrob commented on #64
lol I'll take it. I think that'll get me headed in the right direction at least

[2017-03-23 19:19] djmitche commented on #49
OK, that's done -- all that's left is the cross-compilation!

[2017-03-23 19:20] t0xicCode commented on #49
Perfect! I guess I'll take over from here :)

On Mar 23, 2017 15:19, "Dustin J. Mitchell" <notifications@github.com>
wrote:

[2017-03-23 20:20] jonasfj commented on #54
How interactive shell works right now:
 1. User creates a task with `task.payload.features.interactive = true`
 2. Worker starts task and listens for websocket connections to:
    `https://<hostname>:<port>/<secret>/shell`
 3. Worker publishes a redirect artifact called `private/docker/shell.html`
    which redirects to:
    `https://tools.taskcluster.net/shell/?v=1&socketUrl=https://<hostname>:<p

[2017-03-23 20:23] jonasfj commented on #54
Oh, and the reason it's hard to implement a `docker-exec-websocket-server` client is that we actually do back-pressure.
Meaning if data arrives too fast we'll tell the other side to slow down. This is implemented with special messages... Checkout the code for `docker-exec-websocket-server`.

[2017-03-23 20:23] t0xicCode commented on #54
Perfect! Thanks. I'll start planning my code.

On Mar 23, 2017 4:20 PM, "Jonas Finnemann Jensen" <notifications@github.com>
wrote:

[2017-03-24 21:12] djmitche opened #130 "Limit testing and support to Go-1.8"

[2017-03-24 21:13] djmitche commented on #130
* change the README
* change taskcluster automation

[2017-03-28 13:17] yasch007 opened #135 "Use github.com/shibukawa/configdir for config management"
We are using [github.com/shibukawa/configdir](https://godoc.org/github.com/shibukawa/configdir) in the status command, for locating the cache directory, but could also use it for locating the config directory in ´config/serialization.go´.

[2017-03-28 14:13] petemoore opened #137 "Remove workaround when upstream path to configdir library is merged"
We can delete [these lines](https://github.com/yasch007/taskcluster-cli/blob/18d74a023329be523d5a59449b7cbc0567cab10e/cmds/status/status.go#L144-L151), when https://github.com/shibukawa/configdir/pull/3 is merged upstream.

[2017-03-29 17:11] AyubMohamed opened #140 "Golinter warnings on status.go"
I believe @yannlandry worked on status.go, there seems to be some warnings with golinter on `status.go`.

[code]

[2017-03-29 17:37] djmitche commented on #140
It was @yasch007 not @yannlandry

@yasch007 this didn't run on your PR because you're not a member of the repo.  I think we can change that to allow taskcluster jobs to run on pull requests from anyone.  Anyway, if you can fix up these lint issues, I'd appreciate it.

[2017-03-30 19:45] AyubMohamed commented on #140
Woops, sorry about that.

[2017-03-31 16:33] #137 closed

[2017-03-31 16:34] #140 closed

[2017-03-31 20:43] #130 closed

[2017-04-07 19:55] #49 closed

[2017-04-10 13:16] t0xicCode commented on #85
Seems like this was merged some time ago, I'll close this!

[2017-04-10 13:16] #85 closed

[2017-04-13 03:56] escapewindow opened #154 "u.Hostname undefined"
[code]

[2017-04-13 04:01] escapewindow commented on #154
I found https://downloads.taskcluster.net/taskcluster-cli/latest/darwin-amd64/taskcluster in #153, but it's size 0.

[2017-04-13 13:19] djmitche commented on #154
I ran into this a little while ago, too.  We require golang-1.8 or higher
now, which defines that field.

2017-04-13 0:01 GMT-04:00 Aki Sasaki <notifications@github.com>:

[2017-04-13 16:50] escapewindow commented on #154
That fixed my local build!
We probably want to fix the size zero download as well, but I'll leave that to #153.

[2017-04-13 16:50] #154 closed

[2017-04-13 21:58] djmitche opened #156 "APIs accepting continuation tokens don't work"
[code]
from the logs:
[code]
and indeed:
[code]

[2017-04-17 19:15] djmitche opened #158 "Put releases in the index by their version, too"
In #157 we put releases in the index under `latest`, but we can use a version number there, too.  It's just a matter of figuring out which tc-github name to use.

[2017-04-24 22:50] djmitche commented on #158
OK, this works now :)

[2017-04-24 22:50] #158 closed

[2017-05-26 21:08] escapewindow opened #159 "`taskcluster signin` fails to open browser on OS X"
I tried the latest darwin build from the readme, plus my locally built version which used to work.
`taskcluster signin` no longer opens a tab to sign in.  I've tried with Nightly and Firefox, with tmux and without.

[2017-05-26 22:24] djmitche commented on #159
Does anything happen?

[2017-05-26 22:48] escapewindow commented on #159
I get

[code]

which is normal.  What isn't normal is no tab opens to login.tc.net.

[2017-05-27 12:05] djmitche commented on #159
Thanks -- @jonasfj can you double-check this?  It's never worked for me so I'm not a great help :)

[2017-05-30 17:09] djmitche commented on #159
@mozbhearsum just reported that it works OK for him, too..

[2017-05-30 17:10] mozbhearsum commented on #159
Worked fine for me just now for what it's worth. Latest binary from the README, Ubuntu 16.10, Firefox Beta.

[2017-05-30 17:29] escapewindow commented on #159
Still broken for me. I rebuilt from HEAD and that's broken too.
Not finding a -v option to debug.

[2017-05-30 17:48] djmitche commented on #159
I'm assuming it's failing to start the browser.  It doesn't ordinarily report such errors (maybe it should?).  @jonasfj can hopefully say more..

[2017-06-01 21:15] jonasfj commented on #159
Works for me too...

Okay, so it's the browser opening the fails, I suggest that:
 A) We print the link you're supposed to open (most terminals have a "right click -> open link" menu)
 B) We find out somehow to get browser windows opening on OS X

[2017-06-06 04:06] escapewindow commented on #159
This prints the url, plus "Opened the window!" but no window.
If I copy/paste the url into the browser, signin works!
Pretty sure that means the `webbrowser.Open` call broke for me for some reason.

[code]

[2017-06-06 04:16] escapewindow commented on #159
This gives me

[code]

Is there something that can tell me more about that error?  I'm not a go programmer.

[code]

[2017-06-06 04:57] escapewindow commented on #159
Replacing `/src/go/src/github.com/taskcluster/taskcluster-cli/vendor/github.com/bryanl/webbrowser/osx.go` with the following fixes it. I'm not sure what to do for a real fix, but this works for now:

[code]

[2017-06-08 22:33] gregarndt commented on #48
Looks like this commit is what we were looking for:
https://github.com/taskcluster/taskcluster-cli/commit/505bd7a101c2a702832147deb8ceee5e8a5b348b

However, it does seem that if the release task fails, document will still be updated.

[2017-06-08 23:12] djmitche commented on #48
Yep, and it's uploading https://docs.taskcluster.net/reference/libraries/taskcluster-cli

It's not versioned, but we don't really version anything anyway :)

[2017-06-08 23:12] #48 closed

[2017-06-12 15:34] JohanLorenzo opened #160 "Cannot cancel group right after it's been created: `dial tcp: lookup queue.taskcluster.net: too many open files`"
## Steps to reproduce

1. Land a commit in-tree.
1. Realize it needs a follow up, and land it.
1. `./taskcluster group cancel GROUP_ID_OF_WRONG_COMMIT`

## Results

More than half of task aren't cancelled. tc-cli spews hundreds of lines like:
[code]

I guess this is a limitation on the OS-side, where you can't have more than a certain number of ports open at the same time. I don't know the interna

[2017-06-12 15:45] djmitche commented on #160
Sounds like we need to limit the concurrency of the goroutines used to cancel..

[2017-08-10 20:27] rvandermeulen opened #161 "Taskcluster signin doesn't have a "Grant Credentials" section on Windows"
I downloaded the Win64 version of taskcluster.exe from https://tools.taskcluster.net/index/artifacts/project.taskcluster.taskcluster-cli/latest and put it in my path. When I run |taskcluster signin|, I get redirected to an Okta login in a new browser tab as expected. After logging in, however, I get a Taskcluster page that only offers the 3 login options at the top and my credentials at the bottom

[2017-08-10 20:30] djmitche commented on #161
@jonasfj can you take a peek at this?

[2017-08-11 20:33] jonasfj commented on #161
This could be something with how we open urls on windows maybe?
I'm guessing we could additionally print the URL in your shell...

[2017-08-11 20:53] jonasfj commented on #161
There is a bug in the webbrowser thing we're using... let's switch to: https://github.com/pkg/browser

Notably, the one we have don't use: https://github.com/pkg/browser/blob/c90ca0c84f15f81c982e32665bffd8d7aac8f097/browser_windows.go#L8

So we can't have `&` the URL...

[2017-08-11 21:03] jonasfj commented on #161
Hopefully fixed in: https://github.com/taskcluster/taskcluster-cli/pull/162

[2017-09-12 21:04] escapewindow commented on #159
If other people are seeing this, I suggest we stop using `OSXOpener` or forking the webbrowser project, since I'm seeing no response in https://github.com/bryanl/webbrowser/issues/4 . If no one else is seeing this, I'm happy to keep my local patch.

[2017-09-12 21:09] jonasfj commented on #159
@escapewindow, I already moved this to use `github.com/pkg/browser`, does that work for OS X...

(I think bstack tested it for me)

[2017-09-12 21:13] escapewindow commented on #159
Nice! The link in the README wfm. Thanks!

[2017-09-12 21:13] #159 closed

[2017-09-13 14:12] JohanLorenzo commented on #160
I forgot to comment in my first commit, but tasks are eventually cancelled even if this type of error is displayed.

[2017-10-19 20:25] t0xicCode opened #169 "taskcluster status panics when the status is not 200"
Running taskcluster status when a service doesn't return 200 panics the whole cli.

[code]

[2017-10-20 01:24] t0xicCode opened #170 "Fix linting issues"
There's a few linting issues that came up recently, that should be fixed so that the automated testing can start passing again :)

[2017-10-22 19:35] jonasfj opened #171 "Update meta-linter config"
To something like this:
https://github.com/taskcluster/taskcluster-worker/blob/79da11e34f8b2e7ef8a01c101749717e00b1666b/Makefile#L91-L105

[2017-10-31 23:54] t0xicCode commented on #54
Closed by #54

[2017-10-31 23:54] #54 closed

[2017-11-08 03:57] t0xicCode opened #176 "Fix taskcluster shell in git-bash on windows"
![task-shell](https://user-images.githubusercontent.com/1268885/32530904-ff91cf9c-c40e-11e7-8923-9782bc2eca05.png)

[2017-11-08 04:11] t0xicCode commented on #156
Will add some testing and close this.

[2017-11-08 04:14] t0xicCode commented on #161
@rvandermeulen Could you update to v0.8.0 and confirm that it's been fixed?

[2017-11-08 14:09] djmitche commented on #161
Note that it's currently got support only for bash and bourne shells.

[2017-11-08 14:18] rvandermeulen commented on #161
Yes, printing the URL works fine now.

[2017-11-08 14:18] #161 closed

[2017-11-10 22:58] jonasfj opened #177 "fix output from browser in `taskcluster signin`"
After running `stdout` looks like:
[code]
and useful messages to `stderr`...

Probably we need to hack the library we use to open the browser to redirect it's output to stderr...

[2017-11-10 23:06] djmitche commented on #177
Hm, I didn't have that problem.  But yes, that would be a good fix.

[2017-11-16 14:16] #81 closed

[2017-11-17 14:20] #156 closed

[2017-11-24 17:23] srfraser opened #181 "Using taskcluster-cli cleanly within multiple shells"
In the current incarnation, we need to copy/paste the two environment variables into each shell we'd like to use `taskcluster` in, since it doesn't store them on disk any more.

A clean way of using the cli in multiple shells would be very helpful.

I know that the commit message says the client still reads from `taskcluster.yaml`, but since I deleted this file to try and work out some issues, I n

[2017-11-27 14:53] djmitche commented on #181
One option might be:

[code]

and then in another shell, just run the `source` part.  You could even work that `source` into your `.bashrc` or equivalent, or maybe build some shell function that looks at the age of /dev/shm/creds and only runs `taskcluster signin` if they are too old, then sources them regardless.

If you come up with something nice, I'd be happy to include it in the docs.

It's O

[2017-12-01 00:01] #177 closed

[2017-12-04 16:44] t0xicCode commented on #64
Is it completed?

[2017-12-04 17:10] djmitche commented on #64
Hit tab and find out?  Only sorta kidding :)

[2017-12-04 20:26] yannlandry commented on #64
I don't remember anything being done in that regard, so unless @lteigrob has some code tucked away somewhere, I'd guess it never started :wink:

[2017-12-04 20:26] #64 closed

[2017-12-04 20:39] jonasfj commented on #64
I got to `taskcluster api index ping` using tab :)

So yeah, I think it's working...

[2017-12-15 20:36] djmitche commented on #171
@jonasfj does this mean changing which linters we invoke?  Are there specific desirable linters we're not using?

[2017-12-18 06:42] jonasfj commented on #171
I can't remember.. I would just run them all like we do in tc-worker.

fyi, no rush, or reason we shouldn't do this next time someone gets around to hack on this...

[2018-01-09 04:19] t0xicCode commented on #64
Yeah, cobra should go it all automagically :)

On Mon, Dec 4, 2017 at 3:39 PM, Jonas Finnemann Jensen <
notifications@github.com> wrote:

[2018-01-16 14:54] Archaeopteryx opened #185 "taskcluster signin not working on Windows"
On Windows 8.1 with the latest taskcluster cli executable for x64, authentication doesn't allow to run commands:

`taskcluster signin
Starting
Listening for a callback on: http://localhost:50443
Opening URL: https://tools.taskcluster.net/auth/clients/new?name=cli&description=Temporary+client+for+use+on+the+command+line&scope=%2A&expires=1d&callback_url=http%3A%2F%2Flocalhost%3A50443
export TASKCLU

[2018-01-16 15:00] djmitche commented on #185
The other issue is that just printing `set TASKCLUSTER_CLIENT_ID=..` to the console won't actually set that value, either.  On UNIX, we run this as

[code]

which sets those environment variables in the running shell. I don't see anything in the transcript above that attempts to set variables (with `export` or `set`).  How would we do something like that on Windows?  @petemoore do you have any ide

[2018-01-26 13:35] Archaeopteryx commented on #185
Please ignore the issue, the "export" message was a red herring. I tried rerunning a task now and it returned "pending". But one of the Softvision sheriffs tried to log in earlier this week and also got the auth failure: https://irccloud.mozilla.com/file/vsoqv8xJ/image.png
Bad timing? For the softvision sheriffs, do you they require additional scopes in addition to https://wiki.mozilla.org/Sheriff

[2018-01-26 13:50] Archaeopteryx opened #186 "Creation of new client during taskcluster signin hangs after clicking "Create client" with "Connecting to localhost...", at least in Ubuntu VM"
The Softvision sheriffs and I have Ubuntu VMs which they use for the tree management. We have the Linux x64 binary version a593372 and if we run `taskcluster signin` and click the `Create client` button, the network message "Connecting to localhost" is shown as a tooltip at the bottom left by the browser, but it gets stuck there and doesn't show the "successfully logged in" message. At least five

[2018-01-26 14:50] Archaeopteryx commented on #186
Dustin helped on vidyo: the credentials mentioned in the shell when one closes the waiting browser are actually valid but have to be evaled (in contrast to Windows). `eval $(taskcluster signin)` followed by `taskcluster task rerun ataskid` returns `pending`.
The localhost runs but doesn't return anything.

[2018-01-26 15:27] djmitche opened #187 "`taskcluster signin` server hangs before sending response"
STR:

1. `taskcluster signin`
1. Click UI buttons
1. Firefox says "connecting to localhost", nothing further happens; taskcluster-signin is still running in the shell
1. Close the Firefox tab/window
1. Taskcluster-signin returns, displaying credentials

So it seems Firefox is successfully sending the credentials to taskcluster-signin, but that process is not sending an HTTP response to the browser

[2018-01-26 15:27] djmitche commented on #185
So I think we still have an issue that we don't have a Windows equivalent to `eval $(taskcluster signin)`.  Perhaps @petemoore or @grenade can chime in with some ideas.

The other issue is, it seems in some cases that the HTTP server embedded in the command does not make an HTTP reply, which leaves Firefox hanging at "contacting localhost".  I've created #187 for that.

[2018-01-26 15:32] djmitche commented on #187
Whoops, dupe of #186.

[2018-01-26 15:32] #187 closed

[2018-01-26 15:33] djmitche commented on #186
STR:

1. `taskcluster signin`
1. Click UI buttons
1. Firefox says "connecting to localhost", nothing further happens; taskcluster-signin is still running in the shell
1. Close the Firefox tab/window
1. Taskcluster-signin returns, displaying credentials

So it seems Firefox is successfully sending the credentials to taskcluster-signin, but that process is not sending an HTTP response to the browser

[2018-02-22 15:51] djmitche commented on #185
It looks like this is a false alarm -- users here are using the msys bash shell, so `eval` does work.  Just, @Archaeopteryx didn't use it :)

[2018-02-22 15:51] #185 closed

[2018-04-12 23:47] lundjordan opened #188 "add a confirmation option to eliminate taskid and taskgroupid typos"
a few times during releases, releaseduty have accidently rerun the wrong task which has caused trouble with chainoftrust and dependant subsequent tasks in the release graph.

It would be great to have an option (configurable to be the default behaviour) where you had to confirm when you run mutable commands. e.g. rerun, cancel, etc. and the cli provides you with more meaningful task description in

[2018-04-12 23:48] lundjordan commented on #188
context: https://trello.com/c/xUnoy6k1/33-taskcluster-cli-should-have-a-confirm-option-perhaps-wrapper

[2018-04-12 23:49] lundjordan commented on #188
@srfraser could help mentor on the use case and possibly implementation. Core authors from Taskcluster would be good resources too

[2018-04-12 23:53] lundjordan commented on #188
@mutterroland seem like something you would be interested in trying? It is a good-first-bug I think. taskcluster-cli is written in Go which is pretty readable and friendly. However, like I said in the description, you could always write a wrapper in python as a standalone script if you get stuck. That wrapper could live in releasewarrior instead: https://github.com/mozilla-releng/releasewarrior-2.

[2018-04-13 01:07] escapewindow commented on #188
For `rerun`, we specifically want to check for status in `['failed', 'exception']` and require `--force` to rerun completed tasks.

[2018-04-13 13:12] djmitche commented on #188
This sounds like a cool idea!

In designing this, keep in mind that taskcluster-cli is a general-purpose client and we want to make sure that it "makes sense" to a user arriving from outside Releng or outside Mozilla.

TC-cli has a class of commands (basically everything except `taskcluster api`) that perform common TC operations in a more friendly fashion than just calling an API method (`taskclu

[2018-04-13 13:38] djmitche commented on #188
Yes, I was thinking task name rather than (multiline) description, but that's the idea.

Let's leave rerun to another bug.  It sounds like that could get complicated :)

[2018-04-13 15:51] escapewindow commented on #188
`rerun --force` for completed tasks is the only piece that I consider urgent here -- it's the part that's bitten us twice on releaseduty recently.

[2018-04-13 16:11] djmitche opened #189 "Require `--force` to rerun successful or scheduled tasks"
From #188

@escapewindow
For rerun, we specifically want to check for status in ['failed', 'exception'] and require --force to rerun completed tasks.

---

@srfraser
I wonder whether there is also value in checking a task's dependencies for some operations. For example, if Task C depends on tasks A and B, and we want to rerun C, that doesn't really make sense if A and B didn't complete.

[2018-04-13 16:12] djmitche commented on #188
OK, I created #189 for that :)

[2018-04-13 16:14] djmitche commented on #189
Simon's comment would be about a task in the "scheduled" state.  I'm not even sure the queue will let you rerun such a task (since it hasn't run yet).

[2018-04-13 16:14] escapewindow commented on #189
I know releaseduty has used the fact that cancel/rerun doesn't check for dependency statuses as a way to trigger tasks that have failed or unfinished dependencies. I see this as a bug, but since there's no other way that I know of to do this, it's a "feature".

I think checking for the deps is the proper thing to do. I think allowing for the other behavior may help releaseduty until we stabilize t

[2018-04-13 16:24] escapewindow commented on #189
You have to cancel it first before rerun will work. And then once you rerun the cancelled task, it runs without deps finishing.

[2018-04-13 16:54] djmitche commented on #189
Ah, that makes more sense -- so this is a rerun from the "exception" status.

[2018-04-24 00:42] escapewindow commented on #189
A sheriff just reran successful release tasks again, because treeherder showed them as busted (since treeherder doesn't hide old runs on rerun).

[2018-05-10 16:32] mutterroland commented on #188
Have been talking with @srfraser about that. With him as a mentor, we've started working on it .

[2018-05-15 14:53] djmitche opened #191 "Fail if TASKCLUSTER_ACCESS_TOKEN is set, but TASKCLUSTER_CLIENT_ID is empty"
Right now this gives an unusual error - https://bugzilla.mozilla.org/show_bug.cgi?id=1461579

We should check that both of these values are set, and if one is set but not the other, fail with a useful error message.

[2018-06-06 22:16] mutterroland commented on #188
Opened a pull request for noop flag: https://github.com/taskcluster/taskcluster-cli/pull/196

[2018-07-07 18:04] palash25 commented on #191
Hey there I'm a newbie Gopher.

Is the required change needed to be done here `config/init.go/Setup` ? I see that it already checks for both the ID & TOKEN lookup status so I guess I would only need to add an else there?

[2018-07-07 18:28] djmitche commented on #191
I'm new to Go, too, more-or-less :)

Yes, I think that's correct.

[2018-07-07 18:30] palash25 commented on #191
Ok I'll try to give it a shot. Will send a PR in a few days :smile:

[2018-07-10 17:37] #191 closed

[2018-07-10 19:06] djmitche commented on #188
@mutterroland this is done now, right?

[2018-07-10 19:07] djmitche commented on #186
This was fixed in #187

[2018-07-10 19:07] #186 closed

[2018-07-10 19:07] djmitche commented on #181
@srfraser did #182 solve this?

[2018-07-10 19:12] djmitche opened #198 "Running make updates vendor.json"
In #192 and #197 we saw that running 'make' resulted in diffs to `vendor.json`.  It's not too hard to back these out, but it's a drag on contributions and seems wrong.

@petemoore do you have any idea why this would happen, and how we could fix it?

[2018-07-10 19:16] djmitche opened #199 "All commands should accept TASKCLUSTER_ROOT_URL"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1460012

As part of the ongoing "redeployability" project, a user needs one more piece of information to connect to a Taskcluster service: a root URL.  For the current Taskcluster, that's `https://taskcluster.net`, but for example for another cluster that's `https://taskcluster.imbstack.com`.  #192 addressed a little bit of this: the `taskcluster si

[2018-07-10 19:57] palash25 commented on #199
Sure I'll look into it

[2018-07-11 13:14] petemoore commented on #198
I suspect the answer is to adopt [go dep](https://github.com/golang/dep).

[2018-07-11 13:36] petemoore commented on #198
Yes it is kardianos/govendor#233. The `govendor` author himself [suggests using vgo (a.k.a. go modules)](https://github.com/kardianos/govendor/issues/233#issuecomment-403084088) to workaround the bug.

[2018-07-11 13:47] djmitche commented on #198
Cool, thanks!  We'll ignore it here in tc-cli for now.

[2018-07-13 14:35] jhford opened #200 "Error messages should print on stderr, not stdout"
[code]

We should probably write this error message to stderr.  This might be related to https://github.com/taskcluster/taskcluster-cli/pull/197

@palash25 I was told you might be interested in making this change :)

[2018-07-13 14:37] palash25 commented on #200
Sure @jhford I'm a little busy right now but I will give it a crack next week

[2018-07-13 14:51] djmitche commented on #200
The other error in that file should also go to stderr -- so this isn't a new bug :)

[2018-07-14 06:32] mutterroland commented on #188
@djmitche I have to change the code a little bit to make it ready for the merge. Will try to finish it on today's shift :)

[2018-07-15 20:09] #200 closed

[2018-07-16 22:49] mutterroland commented on #188
@djmitche  I've done some changes to the pull request

[2018-07-31 16:48] jhford opened #206 "taskcluster-cli should be installable through go get"
A developer with a working go toolchain should be able to type in "go get github.com/taskcluster/taskcluster-cli" and have a working copy of the CLI built and installed.  That's currently not working, I suspect because of the renames of the various client modules.

[2018-08-16 14:25] ydidwania commented on #87
I added the command in #205 . However it just prints messages without any proper format.
I will make another patch for that

[2018-09-09 13:02] knrt10 commented on #206
@jhford I would like to work on this issue.

[2018-09-10 09:43] jhford commented on #206
@knrt10 hey, that's cool!  The first thing that I'd recommend is building it locally if you haven't already.  I suspect that this is not the case because dependencies aren't up to date.  We use a vendored copy of some dependencies, and those dependencies have had breaking changes landed since they were added to the vendoring manifest.

[2019-03-30 17:59] Mozilla-GitHub-Standards opened #211 "CODE_OF_CONDUCT.md isn't correct"
**Your required text does not appear to be correct**

As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are requir

[2019-04-01 13:12] ccooper commented on #211
Fixed in place.

[2019-04-01 13:12] #211 closed

[2019-07-18 15:54] #59 closed

[2019-07-18 15:54] #58 closed

[2019-07-18 15:55] #57 closed

[2019-07-18 15:55] djmitche commented on #55
This seems fixed.

[2019-07-18 15:55] #55 closed

[2019-07-18 15:56] djmitche commented on #53
I think we'll accomplish this with PCKE, someday..

[2019-07-18 15:56] #53 closed

[2019-07-18 15:57] djmitche commented on #206
This is the case now.

[2019-07-18 15:57] #206 closed

[2019-07-18 15:57] djmitche commented on #199
This got handled while moving to the monorepo.

[2019-07-18 15:57] #199 closed

[2019-07-18 15:57] #198 closed

[2019-07-18 15:59] #188 closed

[2019-07-18 15:59] #181 closed

[2019-07-18 15:59] #176 closed

[2019-07-18 16:00] djmitche commented on #171
We no longer use gometalinter.

[2019-07-18 16:00] #171 closed

[2019-07-18 16:00] #135 closed

[2019-07-18 16:01] #126 closed

[2019-07-18 16:05] #111 closed

[2019-07-18 16:06] djmitche commented on #105
I'd like to eventually get rid of the config-file support.

[2019-07-18 16:06] #105 closed

[2019-07-18 16:06] #104 closed

[2019-07-18 16:06] #101 closed

[2019-07-18 16:06] #94 closed

[2019-07-18 16:06] #93 closed

[2019-07-18 16:07] #88 closed

[2019-07-18 16:11] djmitche commented on #66
This is generated in `yarn generate` now.

[2019-07-18 16:11] #66 closed

[2019-07-18 16:11] #63 closed

[2019-07-18 16:11] #62 closed

[2019-07-18 16:11] #61 closed